@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@font-face {
  font-family: "CursorGothic";
  src: url("fonts/CursorGothic_Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter","Montserrat", sans-serif;
  background-color: #08090B;
 
}

.home
{
 background-image: url("./images/bg-dark.svg");
 background-repeat: no-repeat;
}
.main{
  max-width: 1200px;
  margin: 0 auto;
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure it stays above content */
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 40px; /* Increased padding for better look */
}
.logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-div h1 {
  color: white;
  font-size: 24px;
  font-weight: 700;
  margin-left: 8px;
  text-transform: lowercase;
}
.cursor_logo {
  width: 65px;
  height: 16px;
}
.cursor_icon {
  width: 25px;
  height: 25px;
}
ul {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;

  color: aliceblue;
}
ul li {
  list-style: none;
}

ul li:hover{
  color: #979797;
  cursor: pointer;
}
.button-div {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button-div .contact {
  
  color: white;
  border-radius: 30px;
  padding: 2px 12px;
  font-weight: 500;
  font-size: 16px;

   background: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.2);
     
      backdrop-filter: blur(10px);
      outline: none;
}
/* .contact:hover{
  background: #2a2a2a;
   cursor: pointer;
} */
.button-div .startfree {
  background: white;
  border: none;
  color: black;
  border-radius: 30px;
  padding: 2px 12px;
  font-weight: 500;
  font-size: 16px;
   cursor: pointer;
}

.startfree:hover{
  background-color: rgb(197, 197, 197);
}



.extra-div{
  width: 100%;
  height: 40px;

      margin-top: 80px;
}

.hero-div{
  max-width: 1200px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.hero-bar{
  width: 500px;
   background: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.2);
     
      backdrop-filter: blur(10px);
      outline: none;
      padding: 6px 17px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.hero-bar span{
  background-color: green;
  padding: 2px 12px;
  border-radius: 20px;
}

.hero-bar i{
    padding: 2px 12px;
}

.main-text{
  text-align: center;
  width: 800px;
  font-size: 67px;
  font-weight: 600;
  padding: 10px;
}

.short-text{
  text-align: center;
  width: 600px;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
}
.input-box{
  width: 400px;
   background: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.2);
     
      backdrop-filter: blur(10px);
      outline: none;
      padding: 6px 10px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  margin-top: 20px;
}
.input-box p{
color: white;
opacity: 0.4;
padding-left:10px ;
cursor:text;
}
.input-box span{
  background-color: rgb(0, 200, 0);
  padding: 5px 12px;
  border-radius: 20px;
  cursor: pointer;
}
.hero-img{
  width: 1200px;
  margin-top: 20px;
  border-radius: 20px;
  padding: 10px 30px;
}
.hero-img img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  
}
.brands-section{
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 50px;
  padding: 10px 20px;
  justify-content: center;


}
.brands-section div img{
  width: 200px;
  height: 70px;
}

.brands-section div{
  padding: 10px;
 


}

.big-text{
  width: 1200px;
  display: flex;
  justify-content: center;
  color: white;
}

.big-text-div{
  width: 1000px;
  text-align: center;
  color: white;
}
.big-text .big{
font-size: 35px;
font-weight: 600;
padding: 10px 20px;
}
.big-text .small{
padding:  5px 30px;
}

.features{
  width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  padding: 20px;
}
.features div{
  border: 1px solid #191a1b;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.features .green{
  color: rgb(0, 184, 0);
  font-size: 16px;
  font-weight: 600;
}
.features p{
  color: white;

}
.features .big-text-feature{
  font-size: 25px;
  font-weight: 600;
}

.big-text .green{
  text-align: center;
  color: rgb(0, 192, 0);
  font-weight: 600;
  font-size: 14px;
}

.process{
  width: 1200px;
  padding: 20px;
}

.explore-section{
  width: 1200px;
  display: grid;
  /* grid-template-columns: 2fr 1fr; */
  grid-template-columns: 1fr;
  gap: 20px;
}

.one-part{
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.explore-section .explore{
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.explore .green{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 16px;
   color: rgb(0, 214, 0);
   padding: 10px;
}
.explore .big{
  font-size: 40px;
  font-weight: 600;
}

.right{
  color: black;
  display: flex;
  justify-content:end;
  align-items: end;
}
.right .button-explore{
  width: 250px;
  text-align: center;
  background-color: white;
  padding: 10px 20px;
  border-radius: 20px;
}
.right .button-explore:hover{
  background-color: #d0d0d0;
}

.second-part{
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
  padding: 20px;
}
.second-part .big , .choice div .big{
  font-size: 24px;
  font-weight: 600;
}
.second-part i{
  color: rgb(0, 210, 0);
  font-size: 20px;
}
.second-part div{
  display: flex;
  flex-direction: column;
  gap: 20px;

}
.second-part div .des {
  color: #979797;
  font-weight: 500;
}

.bottom-hero{
  width: 1200px;
 display: flex;
 justify-content: center;
 color: white;
}
.bottom-hero-div{
  width: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bottom-hero-div .hero-text{
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.bottom-hero-div div{
  display: flex;
  justify-content: center;
gap: 20px;
}
.bottom-hero .get-started{
  width: 250px;
  text-align: center;
  background-color: white;
  padding: 10px 20px;
  border-radius: 20px;
  color: black;
}
.bottom-hero .get-started:hover{
  background-color: #d0d0d0;
}

.bottom-hero .get-demo{
  width: 200px;
  text-align: center;
  background-color: black;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  border: 1px solid #979797;
}
.bottom-hero .get-demo:hover{
  background-color: #353535;
}


.choice{
  width: 1200px;
  display: grid;
  padding: 30px;
  grid-template-columns: 1fr 1fr;
  color: white;
  align-items: center;

}

.choice .div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.choice .div .small{
 
  font-weight: 500;
}
.choice .div i{
  color: rgb(0, 210, 0);
  font-size: 20px;
  
}

.choice .div a{
  text-decoration: none;
  color: rgb(0, 186, 0);
}


.choice .div a:hover{
  color: rgb(9, 125, 9);
}



.footer-section{
  width: 100%;
  background-color: #151616;

  border-top:1px solid #525252 ;
  margin: 0;
  margin-top: 20px;
  overflow: hidden;
  padding: 0px 20px;

}

.footer-outer{
 max-width: 1200px;
    margin: 0 auto;
    border-left:1px solid #404040 ;
  border-right:1px solid #414141 ;
}

.footer-outer .company{
  width: 1200px;
  display: flex;
  justify-content: space-between;
  padding: 20px;

}
.footer-outer .company div{
  display: flex;
  align-items: center;
  font-size: 24px;
  color: white;
  gap: 10px;
  font-weight: 600;
}

.footer-outer .company .icons{
  font-size: 18px;
  color: #979797;
}

.footer-outer .company div img{
  width: 20px;
  height: 20px;
}
footer {
 
 display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  
  gap: 20px;
  padding: 20px 20px;
 
 


}
footer div p{
  color: rgb(101, 101, 101);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;

}



footer div ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

footer div ul li {
  list-style: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
   padding: 5px 10px;
}

footer div ul li a {
  text-decoration: none;
  color: white;
 
}

footer div ul li:hover {
  
  cursor: pointer;
  background: #c6c6c620;
  color: white;
  border-radius: 10px;
}

.bottom{
   border-top: 1px solid #525252;
 
 display: flex;
 justify-content: space-between;
 color: white;
 align-items: center;
  padding: 10px;
  
  
} 
.bottom a{
 text-decoration: none;
 color: white;
}
.bottom a:hover{
 text-decoration: underline;
 color: white;
}

.bottom .system{
  background: #484848a8;
  padding: 5px 10px ;
  border-radius: 20px;
  font-size: 14px;
}
.bottom .system i{
  color: rgb(3, 201, 3);
}
.bottom .theme{
   background: #484848a8;
  padding: 5px 10px ;
  border-radius: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #979797;
  gap: 4px;
}

.bottom .theme .fa-desktop{
  background: #3a3a3a;
  padding: 2px;
  color: white;
}




.companies {
  width: 1200px;
  display: flex;
  gap: 20px;
}

.companies .container {
  width: 400px;
  height: 300px;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;

}
.container .img-section:hover{
   opacity: 0.7;
   transition: opacity 0.3s ease-in-out;
}
.companies .container img{
   width: 400px;
  height: 300px;
   border-radius: 20px;
}

.companies .container .logo{
  position : absolute;
  top: 50%;
left: 50%;
transform: translate(-50%, -50%);
  width: 170px;
  height: 60px;
}

.companies .container .green{
  color: rgb(0, 184, 0);
    
}
.companies .container .green:hover{
  color: rgb(8, 144, 8);
}